<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <modes>
  </modes>
  <sensors>
    <sensor name="GUI">
      <parameter name="StartMinimized">True</parameter>
    </sensor>
  </sensors>
  <sockets>
    <socket id="1" name="Dings">
      <sensors>
        <sensor name="GUI" />
      </sensors>
      <conditions startupState="On" shutdownState="On">
        <powerOn>Socket.IsOff AND GUI.PowerOn</powerOn>
        <powerOff>Socket.IsOn AND GUI.PowerOff</powerOff>
      </conditions>
    </socket>
    <socket id="2" name="Bums">
      <sensors>
        <sensor name="GUI" />
      </sensors>
      <conditions startupState="Off" shutdownState="On">
        <powerOn>Socket.IsOff AND GUI.PowerOn</powerOn>
        <powerOff>Socket.IsOn AND GUI.PowerOff</powerOff>
      </conditions>
    </socket>
  </sockets>
</configuration>