<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <modes>
    <mode active="true">Arbeit</mode>
    <mode active="true">Musik</mode>
    <mode active="false">Video</mode>
  </modes>
  <sensors>
    <sensor name="GUI">
      <parameter name="StartMinimized">True</parameter>
    </sensor>
  </sensors>
  <sockets>
    <socket id="1" name="Monitor">
      <sensors>
        <sensor name="SoundDetector">
          <parameter name="MinimumSignalSeconds">5</parameter>
          <parameter name="OffDelaySeconds">600</parameter>
        </sensor>
        <sensor name="InputDeviceObserver">
          <parameter name="OffDelaySeconds">600</parameter>
        </sensor>
        <sensor name="GUI" />
      </sensors>
      <controlConditions startupState="On" shutdownState="On">
        <powerOn>!Socket.IsOn AND (InputDeviceObserver.PowerOn OR GUI.PowerOn)</powerOn>
        <powerOff mode="Arbeit">Socket.IsOn AND InputDeviceObserver.PowerOff</powerOff>
        <powerOff mode="Musik">Socket.IsOn AND InputDeviceObserver.PowerOff AND (SoundDetector.PowerOff OR SoundDetector.Undefined)</powerOff>
        <powerOff mode="Video">Socket.IsOn AND InputDeviceObserver.PowerOff AND (SoundDetector.PowerOff OR SoundDetector.Undefined)</powerOff>
        <powerOff>Socket.IsOn AND GUI.PowerOff</powerOff>
      </controlConditions>
    </socket>
    <socket id="2" name="Verstärker">
      <sensors>
        <sensor name="SoundDetector">
          <parameter name="MinimumSignalSeconds">5</parameter>
          <parameter name="OffDelaySeconds">900</parameter>
        </sensor>
        <sensor name="GUI" />
      </sensors>
      <controlConditions startupState="Off" shutdownState="Off">
        <powerOn>!Socket.IsOn AND SoundDetector.PowerOn AND GUI.Undefined</powerOn>
        <powerOff>Socket.IsOn AND SoundDetector.PowerOff AND GUI.Undefined</powerOff>
        <powerOn>!Socket.IsOn AND GUI.PowerOn</powerOn>
        <powerOff>Socket.IsOn AND GUI.PowerOff</powerOff>
      </controlConditions>
    </socket>
    <socket id="3" name="Lampe">
      <sensors>
        <sensor name="InputDeviceObserver">
          <parameter name="OffDelaySeconds">570</parameter>
        </sensor>
        <sensor name="GUI" />
      </sensors>
      <controlConditions startupState="On" shutdownState="Off">
        <powerOn>!Socket.IsOn AND InputDeviceObserver.PowerOn AND GUI.Undefined</powerOn>
        <powerOff>Socket.IsOn AND InputDeviceObserver.PowerOff AND GUI.Undefined</powerOff>
        <powerOff>Socket.IsOn AND GUI.PowerOff</powerOff>
      </controlConditions>
    </socket>
    <socket id="4" name="Externe HDDs">
      <sensors>
        <sensor name="GUI" />
        <sensor name="SoundDetector">
          <parameter name="MinimumSignalSeconds">5</parameter>
          <parameter name="OffDelaySeconds">600</parameter>
        </sensor>
        <sensor name="TimeSwitch">
          <parameter name="On">17:45:00</parameter>
          <parameter name="Off">18:00:00</parameter>
          <parameter name="On">18:15:00</parameter>
          <parameter name="Off">18:30:00</parameter>
        </sensor>
      </sensors>
      <controlConditions startupState="Off" shutdownState="Off">
        <powerOn>!Socket.IsOn AND GUI.PowerOn</powerOn>
        <powerOn>!Socket.IsOn AND TimeSwitch.PowerOn</powerOn>
        <powerOff mode="Arbeit">Socket.IsOn AND (GUI.Undefined OR GUI.PowerOff)</powerOff>
        <powerOff mode="Musik">Socket.IsOn AND (GUI.Undefined OR GUI.PowerOff)</powerOff>
        <powerOff mode="Video">Socket.IsOn AND SoundDetector.PowerOff AND (GUI.Undefined OR GUI.PowerOff)</powerOff>
      </controlConditions>
    </socket>
  </sockets>
</configuration>