<?xml version="1.0" encoding="utf-8" ?>
<config>
  <devices>
    <!--<device name="Sam">
    --><!--TODO: numberOfConectRetries, ignoreConnectionLost(do not throw exception)--><!--
      <pin socketId="1" name="Relay + LED" logic="Negative">6</pin>
      <pin socketId="2" name="Relay + LED" logic="Positive">8</pin>
      <pin socketId="3" name="Relay + LED" logic="Positive">10</pin>
      <pin socketId="4" name="Relay + LED" logic="Positive">12</pin>
    </device>-->
  </devices>
</config>